.social-share .share-twitter {
  background-image: asset-url('social_share/twitter.svg');
}

.social-share .share-rounded-twitter {
  background-image: asset-url('social_share/rounded-twitter.webp');
}

.social-share .share-facebook {
  background-image: asset-url('social_share/facebook.svg');
}

.social-share .share-rounded-facebook {
  background-image: asset-url('social_share/rounded-facebook.webp');
}

.social-share .share-google_bookmark {
  background-image: asset-url('social_share/google_bookmark.svg');
}

.social-share .share-pinterest {
  background-image: asset-url('social_share/pinterest.svg');
}

.social-share .share-email {
  background-image: asset-url('social_share/email.svg');
}

.social-share .share-linkedin {
  background-image: asset-url('social_share/linkedin.svg');
}

.social-share .share-rounded-linkedin {
  background-image: asset-url('social_share/rounded-linkedin.webp');
}

.social-share .share-vkontakte {
  background-image: asset-url('social_share/vkontakte.svg');
}

.social-share .share-reddit {
  background-image: asset-url('social_share/reddit.svg');
}

.social-share .share-rounded-reddit {
  background-image: asset-url('social_share/rounded-reddit.webp');
}

.social-share .share-telegram {
  background-image: asset-url('social_share/telegram.svg');
}

.social-share .share-whatsapp_app,
.social-share .share-whatsapp_web {
  background-image: asset-url('social_share/whatsapp.svg');
}
